body {
  background-color: #ffffff;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: Tahoma;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #ff4dff;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #b3b5b8;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #0099FF;
}
#centered {
    position: relative;
    top:30%;
    left: 25%;
}